<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}index{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bank</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            {% if u %}
            <li class="{% block save %}{% endblock %}"><a href="{% url 'save' %}">存款</a></li>
            {% else %}
            {% endif %}
              {% if u %}
                <li class="{% block take %}{% endblock %}"><a href="{% url 'take' %}">取款</a></li>
                {% else %}
                <li><a href="{% url 'take' %}"></a></li>
              {% endif %}

      {% if u %}
            <li class="{% block move %}{% endblock %}"><a href="{% url 'move' %}">转账</a></li>
                {% else %}
                <li><a href="{% url 'move' %}"></a></li>
      {% endif %}





      </ul>

      <ul class="nav navbar-nav navbar-right">
          {% if u %}
              <li><a href="{% url 'exit'%}">注销</a></li>
              <li><a href="#">{{ u.username }}</a></li>
              {% else %}
    <li><a href="{% url 'login' %}">登录</a></li>

          {% endif %}


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block body %}

{% endblock %}
</body>
</html>